.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;   
  padding: 15px 30px;
}

.logo {
  font-weight: 700;
  color: lightgray;
}
/* --- Nav --- */
.nav {
  background-color: #222; 
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-flex;
}

.nav a {
  color: lightgray;
  font-family: "poppins";
  font-weight: 500;
  padding: 15px 20px;
}

